.navbar{
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(227, 221, 221);
    padding-left: 3%;
    width: 100%;
    font-size: 25px;
    margin-left: -15%;
}
.navbar a{
    margin-left: 30px;
}
body{
    margin-left: 15%;
    margin-right: 15%;
    background-image: linear-gradient(rgb(36, 68, 36), whitesmoke);
}
.header1 {  
   text-align: center;
   background-color: whitesmoke;
   padding-top: 0.5%;
   margin-right: 10%;
   margin-left: 10%;
   font-size: 150%;
   border-radius: 10px;
   margin-top: 5%;
}
.bar1{
    background-color: lightslategray;  
    border-bottom: 5px, dashed, black;
}   
.cont1{   
    display: flex;
}
.left1{
   float: left;
    width: 25%;
    text-align: center;
    border-right: 4px solid rgb(45, 65, 49);
    background-color: rgb(173, 186, 194);
    color: black;
    border-radius: 10px;   
}
.mid{
  width: 50%;
  background-color: whitesmoke;
  border-right: 4px solid rgb(45, 65, 49);
  text-align: center;
  border-radius: 10px;  
}
.right1{
    float: right;
    width: 25%;
    text-align: center;
    background-color: rgb(173, 186, 194);
    color: black;
    border-radius: 10px;
}
.box1{
    box-shadow: 6px 6px 15px black;
}
a{
    color: navy;
    text-decoration: none;
}
a:hover{
    color: brown;
}
.navbar a{
    color: rgb(36, 56, 73);
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(255, 165, 132);
    text-decoration: none;
}
h2{
    text-decoration: underline;
}
h3{
    text-decoration: underline;
}
.wb{
    color: navy;
    font-style: oblique;
    font-weight: bold;   
    padding: 2px; 
}
b{
    text-decoration: underline;
}
#shadowname{
    text-shadow: 4px 4px 9px rgb(85, 80, 79);

    color: black;
    margin-left: 5%;
}
#shadowheader{
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 10px 10px 10px black ;
    margin-bottom: 2%;
}
#we{
    margin-left: 17.5%;
    margin-top: 1%;
    width: 65%;
}
ul{ 
    text-align: left;
}
.alignleft{
    text-align: left;
    margin-left: 5%;  
}
.np1{
    margin-top: -2%;
}
.bu{
    border-bottom: 3px;
}
.center{
    color: aliceblue;
    margin-top: 3%;
    text-align: center;
}
.projects{   
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;    
}
#calcpic{
    border: 5px, solid, darkblue;
    border-radius: 5px;
    height: 400px;
    width: 400px;  
}
#ammortpic{   
    border: 5px, solid, darkblue;
    border-radius: 5px;
    height: 400px;
    width: 400px;   
}
#gamepic{ 
    border: 5px, solid, darkblue;
    margin-top: 5%;
    height: 300px;
    width: 450px; 
}
#SP500{
    height: 300px;
    width: 450px; 
}
.mypic{
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    width: 90%;
    height: 90%;
    margin-left: -10%;
}
.picdiv{
        display: flex;
        gap: 5%;
}
.linked{
    margin-left: 50%;
}
.darkfont{
    color:darkblue;
}
.startflex{
    display: flex;
}
